@import url("fonts.css");

body {position: relative; border: 0; padding: 0; margin: 0; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; background-image: url(../images/bg-dark.svg); background: #f7fbfb; background-repeat: repeat; background-position: center center;}
a, p {border: 0; padding: 0; margin: 0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11pt; color: #414747;}

.logo {position: relative; padding: 0; margin: auto; top: 0; bottom: 0; left: 0; right: 0; height: 64px; width: 128px; background: none;}
.cryptrest-logo {position: relative; padding: 0; margin: 0; top: 0; bottom: 0; left: 0; right: 0; height: 64px; width: 128px; background-image: url(../images/cryptrest-logo.svg); background-repeat: no-repeat; background-position: center center;}

.footer {position: relative; padding: 32px 0 0 0; margin: 0; top: 0; bottom: 0; left: 0; right: 0; height: 32px; width: 100%; background: none;}
.copyright-txt {margin: 0; top: 0; bottom: 0; left: 0; right: 0; color: #95a3a3; background: none; border: 0; padding: 0; margin: 0; font-family: VisitorTT1, Verdana, Arial, Helvetica, sans-serif; font-size: 80%;}
